<div class="row">
    <div class="card col-md-7">
        <div class="card-header bg-primary text-white text-center">Template-Driven Form</div>
        <div class="card-body">
            <form [formGroup]="rForm" (ngSubmit)=onSubmit(rForm)>
                <div class="form-group">
                    <label for="fullName">Full Name</label>
                    <input id="fullName" type="text" class="form-control"
                            formControlName="fullName">
                    <div class="alert alert-danger" *ngIf="fullName.touched && !fullName.valid">
                        <div *ngIf="fullName.errors.required">
                            Full Name is required
                        </div>
                        <div *ngIf="fullName.errors.minlength">
                            Full Name should be minimum {{ fullName.errors.minlength.requiredLength }} characters
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="text" class="form-control"
                            formControlName="email">
                    <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                        <div *ngIf="email.errors.required">
                            Email Id is required
                        </div>
                        <div *ngIf="email.errors.pattern">
                            Please enter a valid Email Id
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="address">Address</label>
                    <input id="address" type="text" class="form-control"
                            formControlName="address">
                    <div class="alert alert-danger" *ngIf="address.touched && !address.valid">
                        <div *ngIf="address.errors.required">
                            Address is required
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="city">City</label>
                    <input id="city" type="text" class="form-control"
                            formControlName="city">
                    <div class="alert alert-danger" *ngIf="city.touched && !city.valid">
                        <div *ngIf="city.errors.required">
                            City is required
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="tel">Phone No</label>
                    <input id="tel" type="text" class="form-control"
                            formControlName="tel">
                    <div class="alert alert-danger" *ngIf="tel.touched && !tel.valid">
                        <div *ngIf="tel.errors.required">
                            Phone is required
                        </div>
                        <div *ngIf="tel.errors.pattern">
                            Please enter a valid Phone number
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input id="pwd" type="password" class="form-control"
                            formControlName="pwd">
                    <div class="alert alert-danger" *ngIf="pwd.touched && !pwd.valid">
                        <div *ngIf="pwd.errors.required">
                            Password is required
                        </div>
                        <div *ngIf="pwd.errors.minlength">
                            Password should be minimum {{ pwd.errors.minlength.requiredLength }} characters
                        </div>
                        <div *ngIf="pwd.errors.pattern">
                            Please enter a valid Password
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPwd">Confirm Password</label>
                    <input id="confirmPwd" type="password" class="form-control"
                            formControlName="confirmPwd">
                    <div class="alert alert-danger" *ngIf="confirmPwd.touched && !confirmPwd.valid">
                        <div *ngIf="confirmPwd.errors.required">
                            Confirm Password is required
                        </div>
                        <div *ngIf="confirmPwd.errors.minlength">
                            Confirm Password should be minimum {{ confirmPwd.errors.minlength.requiredLength }} characters
                        </div>
                        <div *ngIf="pwd.errors.pattern">
                            Please enter a valid Password
                        </div>
                        <!-- <div *ngIf="">
                            Password & Confirm Password doesn't match
                        </div> -->
                    </div>
                </div>

                <button type="submit" class="btn btn-primary col">Submit</button>
            </form>
        </div>
    </div>

    <div class="col-md-1"></div>

    <div class="card col-md-4" *ngIf="formData === rForm">
        <div class="card-header bg-primary text-white text-center">Form Data</div>
        <div class="card-body">
            <div class="row">
                <span class="col-md-5">Full Name: </span>
                <span class="col-md-7">{{ rForm.value.fullName }}</span>
            </div>
            <div class="row">
                <span class="col-md-5">Email Id: </span>
                <span class="col-md-7">{{ rForm.value.email }}</span>
            </div>
            <div class="row">
                <span class="col-md-5">Address: </span>
                <span class="col-md-7">{{ rForm.value.address }}</span>
            </div>
            <div class="row">
                <span class="col-md-5">City: </span>
                <span class="col-md-7">{{ rForm.value.city }}</span>
            </div>
            <div class="row">
                <span class="col-md-5">Phone No.: </span>
                <span class="col-md-7">{{ rForm.value.tel }}</span>
            </div>
            <div class="row">
                <span class="col-md-5">Password: </span>
                <span class="col-md-7">{{ rForm.value.pwd }}</span>
            </div>
            <div class="row">
                <span class="col-md-5">Confirm Password: </span>
                <span class="col-md-7">{{ rForm.value.confirmPwd }}</span>
            </div>
        </div>
    </div>
</div>