<div class="container">
    <h2 class="text-center">
        <i>
            Product_List --->>>
        </i>
    </h2>
    <table class="table table-bordered table-sm">
        <thead class="thead-light text-center">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody *ngFor="let product of products_list">
            <tr>
                <th scope="row" class="text-center">{{ product.id }}</th>
                <td>{{ product.name }}</td>
                <td class="text-center">{{ product.price | currency: 'INR'}}</td>
                <td class="text-center">
                    <button class="btn btn-primary btn-sm" (click)="gotoProductDetail(product)">View Details</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>